* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;  
}
.container {
    display: grid;
    max-width: 1000px;
    width: 90%;
    margin: 1rem auto;
}
h1 {
    text-align: center;
    border-radius: 5px;
    justify-content: center;
}
header{
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 300px 400px 300px;
    padding: 5px;
    gap: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}
.donut-content{
    display:grid;
    grid-template-columns: 200px 400px 200px 200px;
}
.number-of-donuts-text {
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.autoclicker-count-section{
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.donut-multiplier-count-text{
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
}